@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-partner-2:before {
  content: "\e906";
}
.icon-partner-3:before {
  content: "\e907";
}
.icon-partner-4:before {
  content: "\e908";
}
.icon-partner-5:before {
  content: "\e909";
}
.icon-partner-6:before {
  content: "\e90a";
}
.icon-partner-7:before {
  content: "\e90b";
}
.icon-partner-1:before {
  content: "\e90c";
  // color: black;
}